<li class="MediaElement Article">
  <img src="{% if book.asin %}//images-na.ssl-images-amazon.com/images/P/{{ book.asin }}.01.LZZZZZZZ.jpg{% else %}/img/{{ book.slug }}.jpg{% endif %}" class="MediaElement-media Cover" alt="" />
  <div>
    {% assign book_post = site.posts | where: "book", book.slug | first %}
    {% if book_post and include.should_link == true %}
      <a href="/on/{{ book_post.slug }}" class="Article-title">
        {{ book.title }}
      </a>
    {% else %}
      <span class="Article-title">
        {{ book.title }}{% unless book.subtitle == nil %}: {{ book.subtitle }}{% endunless %}
      </span>
    {% endif %}
    <p class="Article-summary">
      {% if book.authors %}
        by
        {% for author_slug in book.authors %}
          {% if forloop.last == true and forloop.first == false %}and{% endif %}
          {% assign author = site.authors | where:"slug",author_slug | first %}
          <a href="/on/books/by/{{ author_slug }}">{{ author.title }}</a>{% if forloop.index < forloop.length and forloop.length > 2 %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
    <div class="Article-meta">
      {{ book.publisher }}, {{ book.published }}
    </div>
</li>
