<li class="Article MediaElement">
  {% if post.book %}
    <a href="/on/{{ post.slug }}">
      {% assign book = site.books | where: "slug", post.book | first %}
      <img class="MediaElement-media Cover" src="{% if book.asin %}//images-na.ssl-images-amazon.com/images/P/{{ book.asin }}.01.LZZZZZZZ.jpg{% else %}/img/{{ book.slug }}.jpg{% endif %}" alt="" />
    </a>
  {% endif %}
  <div>
    <div class="Article-meta">{{ post.date | date: "%B %-e, %Y" }}</div>
    <a href="{{ post.url }}" class="Article-title">{{ post.title }}</a>
    <p class="Article-summary">{{ post.description }}</p>
    <div class="Article-meta">
      {% if post.tags %}
        on
        {% for tag in post.tags %}
          {% if forloop.last == true and forloop.first == false %}and{% endif %}
          <a href="/on/topics/{{ tag | slugify }}">{{ tag }}</a>{% if forloop.index < forloop.length and forloop.length > 2 %},{% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</li>
