<li class="Article MediaElement">
  <div class="MediaElement-content">
    <div class="Article-meta">{{ post.date | date: "%B %-e, %Y" }}</div>
    <a href="{{ post.url }}" class="Article-title">{{ post.title }}</a>
    <p class="Article-summary">{{ post.description }}</p>
    <div class="Article-meta">
      {% if post.tags %}
        on
        {% for tag in post.tags %}
          {% if forloop.index == forloop.length %}and{% endif %}
          <a href="/on/topics/{{ tag | slugify }}">{{ tag }}</a>{% if forloop.index < forloop.length and forloop.length > 2 %},{% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</li>
