.MediaElement
  display: flex
  align-items: center

  &-media
    margin-right: 1em
    max-width: 5em

  &--right
    flex-direction: row-reverse

    .MediaElement-media
      margin-right: 0
      margin-left: 1em
