.u-centered
  text-align: center

.right
  float: right

.left
  float: left

.full_bleed
  margin-left: $baseline * -3
  margin-right: $baseline * -3

  figcaption
    margin-left: $baseline * 3 / .875
    margin-right: $baseline * 3 / .875

.circle
  border-radius: 100%

.ls-none
  list-style: none

.flex
  display: flex

.flex-column
  flex-direction: column

.flex-align-center
  align-items: center

.flex-center
  justify-content: center

.mw-25p
  max-width: 25%

.block
  display: block

.mr-md
  margin-right: 2em

.ml-md
  margin-left: 2em

.mb-md
  margin-bottom: 2em
