---
layout: default
---

<header class="FullPost-header">
  {% if page.book %}
    <a class="Cover" href="#book">
      {% assign book = site.books | where: "slug", page.book | first %}
      <img src="{% if book.asin %}https://images-na.ssl-images-amazon.com/images/P/{{ book.asin }}.01.LZZZZZZZ.jpg{% else %}/img/{{ book.slug }}.jpg{% endif %}" alt="" width="100" />
    </a>
  {% endif %}
  <div>
    <h1 class="FullPost-title">{{ page.title }}</h1>
  </div>
  <p class="FullPost-date">
    {{ page.date | date: "%B %-e, %Y" }}
  </p>
  <p class="FullPost-summary">{{ page.description }}</p>
</header>

<article>
  {{ content }}
</article>

{% if page.book %}
  <hr>
  {% assign book = site.books | where: "slug", page.book | first %}
  <footer id="book">
    <ol class="ArticleList">
      {% include book.html book=book should_link=false %}
    </ol>
  </footer>
{% endif %}
