---
layout: default
---

<header class="FullPost-header">
  {% if page.book %}
    <a class="Cover" href="#book">
      {% assign book = site.books | where: "slug", page.book | first %}
      <img src="http://images.amazon.com/images/P/{{ book.asin }}.01.LZZZZZZZ.jpg" alt="" width="100" />
    </a>
  {% endif %}
  <div>
    <h1 class="FullPost-title">{{ page.title }}</h1>
    {% if page.book %}
      {% assign book = site.books | where: "slug", page.book | first %}
      {% if book.subtitle %}
        <h2 class="FullPost-subtitle">{{ book.subtitle }}</h2>
      {% endif %}
    {% endif %}
  </div>
  <p class="FullPost-date">
    {{ page.date | date: "%B %-e, %Y" }}
  </p>
  <p class="FullPost-summary">{{ page.description }}</p>
</header>

<article>
  {{ content }}
</article>

{% if page.book %}
  {% assign book = site.books | where: "slug", page.book | first %}
  <footer id="book" class="MediaElement Article">
    <img class="MediaElement-media Cover" src="http://images.amazon.com/images/P/{{ book.asin }}.01.LZZZZZZZ.jpg" alt: "" width="100" />
    <div class="MediaElement-content">
      <div class="Article-title">{{ book.title }}</div>
      <div>
        {% if book.authors %}
          by
          {% for author_slug in book.authors %}
            {% assign author = site.authors | where:"slug",author_slug | first %}
            {% if forloop.index == forloop.length %}and{% endif %}
            <a href="/on/books/by/{{ author_slug }}">{{ author.title }}</a>{% if forloop.index < forloop.length and forloop.length > 2 %},{% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="Article-meta">
        {{ book.publisher }}, {{ book.published }}
        {% if book.asin %}
          &nbsp;&bull;&nbsp;
          <a href="http://www.amazon.com/gp/product/{{ book.asin }}?ie=UTF8&amp;tag=stevgros-20">Purchase</a>
        {% endif %}
      </div>
  </footer>
{% endif %}
